<!DOCTYPE html>
html(lang='ru')
  include includes/head.pug

  body

    #root

      main(role="main").yhgfprw34
        picture.yhgfprw34__picture
          img(src="images/main-hero-bg.jpg")
        div
          .rshquu31.yhgfprw34__container
            header.yhgfprw34__header
              a(href="/" title="На главную").yhgfprw34__brand Онлайн-тест
              .yhgfprw34__info
                .contacts-line.contacts-line--theme-accent.yhgfprw34__info-item
                  svg.icon.contacts-line__icon
                    use(xlink:href="images/sprite.svg#faq")
                  span.contacts-line__title 7 вопросов
                .contacts-line.contacts-line--theme-accent.yhgfprw34__info-item
                  svg.icon.contacts-line__icon
                    use(xlink:href="images/sprite.svg#clock")
                  span.contacts-line__title 4 минуты
            .row.yhgfprw34__row
              .row__col--12.yhgfprw34__col-content
                .yhgfprw34__content
                  h1.yhgfprw34__title Что нужно, чтобы стать <span class="color-accent">трейдером</span>?
                  .content.yhgfprw34__text
                    p Вы готовы попробовать себя в качестве трейдера. Вам нужен дополнительный доход и Вы не удовлетворены текущей финансовой ситуацией. Что нужно, чтобы начать торговлю на финансовом рынке? Готовы ли Вы к этому? Наш короткий онлайн-тест поможет Вам оценить свои силы и определить, готовы ли Вы к реальной торговле или стоит сначала пройти обучение.
                      a(href="#modal-sms").js-modal-init #modal-sms
                      a(href="#modal-phone").js-modal-init #modal-phone
                      a(href="#modal-privacy").js-modal-init #modal-privacy
              .row__col--12.yhgfprw34__col-form
                .yhgfprw34-form-b
                  article.tab-item.yhgfprw34-form-b__tab.active#tab1
                    header.yhgfprw34-form-b__header
                      p(data-question="1").yhgfprw34-form-b__pager Вопрос №1
                      h3.yhgfprw34-form-b__title Есть ли у Вас опыт в трейдинге?
                    .row.yhgfprw34-form-b__row
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="1").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Нет, абсолютно нет
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="2").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Кое-что что слышал, знаю базовые принципы
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="3").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Немного торговал на различных рынках
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="4").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Отлично разбираюсь в финансовых рынках, имею большой опыт торговли
                      .form-valid-text.yhgfprw34-form-b__error Пожалуйста, выберите вариант ответа!
                    footer.yhgfprw34-form-b__footer
                      button(type="button").btn.btn--size-md.btn--theme-simple.yhgfprw34-form-b__footer-btn-next.disabled
                        span.btn__inner
                          svg.icon.btn__icon.btn__icon--ltr
                            use(xlink:href="images/sprite.svg#arrow-right")
                          span.btn__title Далее
                      button(type="button").btn.btn--size-md.btn--theme-simple.yhgfprw34-form-b__footer-btn-prev.disabled
                        span.btn__inner
                          svg.icon.btn__icon.btn__icon--rtl
                            use(xlink:href="images/sprite.svg#arrow-left")
                          span.btn__title Назад
                  article.tab-item.yhgfprw34-form-b__tab#tab-item2
                    header.yhgfprw34-form-b__header
                      p(data-question="1").yhgfprw34-form-b__pager Вопрос №2
                      h3.yhgfprw34-form-b__title Как Вы принимаете решения в условиях стресса?
                    .row.yhgfprw34-form-b__row
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="1").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Стараюсь быстро проанализировать все доводы за и против
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="2").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Доверяюсь интуиции, все равно нет времени на подробный анализ
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="3").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Стараюсь вспомнить похожие ситуации и поступить аналогично
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="4").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Пытаюсь найти время, чтобы посоветоваться с друзьями и близкими
                      .form-valid-text.yhgfprw34-form-b__error Пожалуйста, выберите вариант ответа!
                    footer.yhgfprw34-form-b__footer
                      button(type="button").btn.btn--size-md.btn--theme-simple.yhgfprw34-form-b__footer-btn-next.disabled
                        span.btn__inner
                          svg.icon.btn__icon.btn__icon--ltr
                            use(xlink:href="images/sprite.svg#arrow-right")
                          span.btn__title Далее
                      button(type="button").btn.btn--size-md.btn--theme-simple.yhgfprw34-form-b__footer-btn-prev
                        span.btn__inner
                          svg.icon.btn__icon.btn__icon--rtl
                            use(xlink:href="images/sprite.svg#arrow-left")
                          span.btn__title Назад
                  article.tab-item.yhgfprw34-form-b__tab#tab-item3
                    header.yhgfprw34-form-b__header
                      p(data-question="1").yhgfprw34-form-b__pager Вопрос №3
                      h3.yhgfprw34-form-b__title На каких финансовых рынках Вы планируете торговать?
                    .row.yhgfprw34-form-b__row
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="1").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Валютный или криптовалютный
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="2").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Фондовый рынок
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="3").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Любой финансовый рынок, который позволит получить прибыль
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="4").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Пока не знаю, нужна консультация
                      .form-valid-text.yhgfprw34-form-b__error Пожалуйста, выберите вариант ответа!
                    footer.yhgfprw34-form-b__footer
                      button(type="button").btn.btn--size-md.btn--theme-simple.yhgfprw34-form-b__footer-btn-next.disabled
                        span.btn__inner
                          svg.icon.btn__icon.btn__icon--ltr
                            use(xlink:href="images/sprite.svg#arrow-right")
                          span.btn__title Далее
                      button(type="button").btn.btn--size-md.btn--theme-simple.yhgfprw34-form-b__footer-btn-prev
                        span.btn__inner
                          svg.icon.btn__icon.btn__icon--rtl
                            use(xlink:href="images/sprite.svg#arrow-left")
                          span.btn__title Назад
                  article.tab-item.yhgfprw34-form-b__tab#tab-item4
                    header.yhgfprw34-form-b__header
                      p(data-question="1").yhgfprw34-form-b__pager Вопрос №4
                      h3.yhgfprw34-form-b__title Сколько времени Вы сможете посвящать трейдингу?
                    .row.yhgfprw34-form-b__row
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="1").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Несколько часов в неделю
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="2").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Несколько часов ежедневно
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="3").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Один часом вечером в будние дни плюс пару часов в выходные
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="4").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Хочу полностью посвятить себя трейдингу
                      .form-valid-text.yhgfprw34-form-b__error Пожалуйста, выберите вариант ответа!
                    footer.yhgfprw34-form-b__footer
                      button(type="button").btn.btn--size-md.btn--theme-simple.yhgfprw34-form-b__footer-btn-next.disabled
                        span.btn__inner
                          svg.icon.btn__icon.btn__icon--ltr
                            use(xlink:href="images/sprite.svg#arrow-right")
                          span.btn__title Далее
                      button(type="button").btn.btn--size-md.btn--theme-simple.yhgfprw34-form-b__footer-btn-prev
                        span.btn__inner
                          svg.icon.btn__icon.btn__icon--rtl
                            use(xlink:href="images/sprite.svg#arrow-left")
                          span.btn__title Назад
                  article.tab-item.yhgfprw34-form-b__tab#tab-item5
                    header.yhgfprw34-form-b__header
                      p(data-question="1").yhgfprw34-form-b__pager Вопрос №5
                      h3.yhgfprw34-form-b__title Какой уровень риска вы считаете подходящим?
                    .row.yhgfprw34-form-b__row
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="1").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Никакой, я абсолютно не приемлю риски
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="2").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Риск на сделку не должен превышать 2%
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="3").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Общая просадка со всех сделок не должна превышать 20%
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="4").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Пока не знаю, нужна консультация
                      .form-valid-text.yhgfprw34-form-b__error Пожалуйста, выберите вариант ответа!
                    footer.yhgfprw34-form-b__footer
                      button(type="button").btn.btn--size-md.btn--theme-simple.yhgfprw34-form-b__footer-btn-next.disabled
                        span.btn__inner
                          svg.icon.btn__icon.btn__icon--ltr
                            use(xlink:href="images/sprite.svg#arrow-right")
                          span.btn__title Далее
                      button(type="button").btn.btn--size-md.btn--theme-simple.yhgfprw34-form-b__footer-btn-prev
                        span.btn__inner
                          svg.icon.btn__icon.btn__icon--rtl
                            use(xlink:href="images/sprite.svg#arrow-left")
                          span.btn__title Назад
                  article.tab-item.yhgfprw34-form-b__tab#tab-item6
                    header.yhgfprw34-form-b__header
                      p(data-question="1").yhgfprw34-form-b__pager Вопрос №6
                      h3.yhgfprw34-form-b__title Сколько Вы готовы инвестировать в трейдинг?
                    .row.yhgfprw34-form-b__row
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="1").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Около 10,000 рублей
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="2").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text От 10,000 до 50,000 рублей
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="3").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text От 50,000 до 500,000 рублей
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="4").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Несколько миллионов рублей
                      .form-valid-text.yhgfprw34-form-b__error Пожалуйста, выберите вариант ответа!
                    footer.yhgfprw34-form-b__footer
                      button(type="button").btn.btn--size-md.btn--theme-simple.yhgfprw34-form-b__footer-btn-next.disabled
                        span.btn__inner
                          svg.icon.btn__icon.btn__icon--ltr
                            use(xlink:href="images/sprite.svg#arrow-right")
                          span.btn__title Далее
                      button(type="button").btn.btn--size-md.btn--theme-simple.yhgfprw34-form-b__footer-btn-prev
                        span.btn__inner
                          svg.icon.btn__icon.btn__icon--rtl
                            use(xlink:href="images/sprite.svg#arrow-left")
                          span.btn__title Назад
                  article.tab-item.yhgfprw34-form-b__tab#tab-item7
                    header.yhgfprw34-form-b__header
                      p(data-question="1").yhgfprw34-form-b__pager Вопрос №7
                      h3.yhgfprw34-form-b__title Какой результат Вы планируете получить?
                    .row.yhgfprw34-form-b__row
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="1").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text 8%-10% в месяц
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="2").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Не меньше 100% годовых
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="3").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text От 30,000 рублей ежемесячно
                      .row__col--6.yhgfprw34-form-b__col
                        button(type="button" data-answer="4").js-field-checkbox.control-el.yhgfprw34-form-b__control-el
                          svg.icon.control-el__icon
                            use(xlink:href="images/sprite.svg#checked")
                          span.control-el__text Устроит любой положительный результат
                      .form-valid-text.yhgfprw34-form-b__error Пожалуйста, выберите вариант ответа!
                    footer.yhgfprw34-form-b__footer
                      button(type="button").btn.btn--size-md.btn--theme-simple.yhgfprw34-form-b__footer-btn-next.disabled
                        span.btn__inner
                          svg.icon.btn__icon.btn__icon--ltr
                            use(xlink:href="images/sprite.svg#arrow-right")
                          span.btn__title Далее
                      button(type="button").btn.btn--size-md.btn--theme-simple.yhgfprw34-form-b__footer-btn-prev
                        span.btn__inner
                          svg.icon.btn__icon.btn__icon--rtl
                            use(xlink:href="images/sprite.svg#arrow-left")
                          span.btn__title Назад
                  article.tab-item.yhgfprw34-form-b__tab#tab-item8
                    .row.yhgfprw34-form-b__res
                      .row__col--6.yhgfprw34-form-b__res-content
                        p.yhgfprw34-form-b__pager Результаты теста
                        h3.yhgfprw34-form-b__title Введите данные, чтобы получить результаты бесплатно
                        .yhgfprw34-form-b__res-info-list
                          .info-card.yhgfprw34-form-b__res-info-list-card
                            picture.info-card__picture
                              img(src="images/info-icon-1.svg" alt="SMS с результатами теста придет на указанный номер телефона")
                            p.info-card__text SMS с результатами теста придет на указанный номер телефона
                          .info-card.yhgfprw34-form-b__res-info-list-card
                            picture.info-card__picture
                              img(src="images/info-icon-2.svg" alt="Мы не храним Вашу персональную информацию")
                            p.info-card__text Мы не храним Вашу персональную информацию
                      .row__col--6.yhgfprw34-form-b__res-form
                        form(novalidate="novalidate").form.yhgfprw34-form-el
                          .row.yhgfprw34-form-el__row
                            .row__col--12.yhgfprw34-form-el__col
                              .form-line
                                input(type="text" name="name" id="name" autocomplete="nope" required placeholder="Ваше имя").form-field.input-el.form-line__input
                                label(for="name")#name-error.form-valid-text.form-line__error Введите мин. 2 символа
                            .row__col--12.yhgfprw34-form-el__col
                              .form-line
                                input(type="email" name="email" id="email" autocomplete="nope" required placeholder="Ваша почта").form-field.input-el.form-line__input
                                label(for="email")#email-error.form-valid-text.form-line__error Некорректный email
                            .row__col--12.yhgfprw34-form-el__col
                              .form-line
                                input(type="tel" name="phone" id="phone" autocomplete="nope" required pattern="\d{8,16}" maxlength="16" value="+7").tel-input-country-init.form-field.input-el.form-line__input
                                label(for="name")#phone-error.form-valid-text.form-line__error Некорректный телефон
                            .row__col--12.yhgfprw34-form-el__col
                              button(type="submit").form-button.btn.btn--size-md.btn--theme-simple.yhgfprw34-form-el__btn
                                span.btn__inner
                                  span.btn__title Получить результаты

      footer.rswhykl-44
        .rshquu31.rswhykl-44__container
          .row.rswhykl-44__row
            .row__col--7.rswhykl-44__col.rswhykl-44__col--terms
              p.rswhykl-44__text
                | Мы не передаем Ваши данные&nbsp;третьим&nbsp;лицам.<br>
              .rswhykl-44__info
                .contacts-line.contacts-line--theme-gray.rswhykl-44__info-item
                  svg.icon.contacts-line__icon
                    use(xlink:href="images/sprite.svg#phone")
                  span.contacts-line__title
                    a(href="tel:+74993017202") +7 499 301-72-02<br>
                .contacts-line.contacts-line--theme-gray.rswhykl-44__info-item
                  svg.icon.contacts-line__icon
                    use(xlink:href="images/sprite.svg#email")
                  span.contacts-line__title
                    a(href="mailto:support@qwelity.ru") support@qwelity.ru
            .row__col--5.rswhykl-44__col.rswhykl-44__col--copyright
              p.rswhykl-44__text
                a(href="#modal-privacy").js-modal-init Условия пользования<br>
                | Все права защищены

    #modal-sms.trjreqwr-42.trjreqwr-42--sms
      .js-modal-close.trjreqwr-42__overlay
      .trjreqwr-42__inner
        .trjreqwr-42__center
          button.js-modal-close.btn-close.trjreqwr-42__center-close
            svg.icon.btn-close__icon
              use(xlink:href="images/sprite.svg#close")
          form(novalidate="novalidate").popup-form.trjreqwr-42-form
            p.trjreqwr-42-form__title Подтверждение
            p.trjreqwr-42-form__subtitle На ваш телефон <span class="color-accent">+7 800 000-00-00</span> был отправлен код подтверждения
            .form-line.trjreqwr-42-form__line
              input(type="text" name="code" id="sms-code" autocomplete="nope" required placeholder="Введите код из смс").form-field.input-el.form-line__input
              label(for="sms-code")#codeError.form-valid-text.form-line__error Неверный код
            footer.trjreqwr-42-form__footer
              button(type="button")#res.btn.btn--size-md.btn--theme-simple.trjreqwr-42-form__footer-btn-next
                span.btn__inner
                  span.btn__title Узнать результат
              a(href="#modal-phone").js-modal-close.js-modal-init.btn-change.trjreqwr-42-form__footer-btn-prev
                span.btn__inner
                  span.btn__title Изменить номер

    #modal-phone.trjreqwr-42.trjreqwr-42--phone
      .js-modal-close.trjreqwr-42__overlay
      .trjreqwr-42__inner
        .trjreqwr-42__center
          button.js-modal-close.btn-close.trjreqwr-42__center-close
            svg.icon.btn-close__icon
              use(xlink:href="images/sprite.svg#close")
          form(novalidate="novalidate").popup-form.trjreqwr-42-form
            p.trjreqwr-42-form__title Введите правильный номер телефона
            .form-line.trjreqwr-42-form__line
              input(type="tel" name="modal-phone" id="modal-phone" autocomplete="nope" required pattern="\d{8,16}" maxlength="16" value="+7").tel-input-country-modal-init.form-field.input-el.form-line__input
              label(for="modal-phone")#modal-phone-error.form-valid-text.form-line__error Некорректный телефон
            footer.trjreqwr-42-form__footer
              button(type="button").btn.btn--size-md.btn--theme-simple.trjreqwr-42-form__footer-btn-next
                span.btn__inner
                  span.btn__title ОКЕЙ

    #modal-privacy.trjreqwr-42.trjreqwr-42--privacy
      .js-modal-close.trjreqwr-42__overlay
      .trjreqwr-42__inner
        .trjreqwr-42__center
          button.js-modal-close.btn-close.trjreqwr-42__center-close
            svg.icon.btn-close__icon
              use(xlink:href="images/sprite.svg#close")
          .content.trjreqwr-42__privacy
            h2 Правила использования сайта
            p Настоящий Интернет-ресурс является официальным Интернет-сайтом (далее - Сайт), расположенным по адресу <span class="color-accent">geo-k.ru</span>. Под Пользователем в настоящих Правилах понимается любое лицо, осуществляющее доступ к Сайту. Вне зависимости от того, являетесь Вы зарегистрированным или незарегистрированным пользователем, вы обязуетесь выполнять данные Правила в полном объёме, а также руководствоваться в своих действиях нормами действующего законодательства РФ.
            p Настоящие Правила использования информации регламентируют доступ к сайту и использование данного сайта, включая просмотр, загрузку, воспроизведение, отображение, опубликование (данные, графики, иллюстрации, фотографии, дизайн, описания, информация, а также видео-, аудиофрагменты, музыкальные и звуковые фрагменты),а так же содержание любого электронного письма или схожей информации, направленной в отношении данного сайта и/или регистрация или подписка пользователя и другое содержание данного сайта. Данное положение касается любого вида пользования, включая использование посредством электронных, механических, фотокопировальных, записывающих средств и т. д.
            p Правообладателями в отношении Информации, размещенной на Сайте, являются в соответствующих случаях Администрация сайта, Пользователи и/или третьи лица. Администрация сайта является законным правообладателем и ей принадлежат все исключительные имущественные и иные соответствующие права на Сайт, в том числе, но, не ограничиваясь перечисленным, на программное обеспечение Сайта, графику, дизайн, Базу данных Сайта. Любая Информация, размещаемая на Сайте Пользователем, соответственно, принадлежит такому Пользователю или соответствующему третьему лицу. Размещая Информацию на Сайте, Пользователь подтверждает, что он обладает всеми необходимыми для этого правами и полномочиями, также Пользователь соглашается с тем, что такая Информация становится доступной для Пользователей Сайта.
            p Размещая Информацию на Сайте, Пользователь автоматически безвозмездно, безусловно и безотзывно предоставляет Администрации Сайта неисключительное право на использование такой Информации по усмотрению Администрации Сайта в том числе, но не ограничиваясь, на воспроизведение, копирование, подбор, систематизацию, преобразование, изменение, редактирование, перевод, опубликование, распространение такой Информации (частично или полностью) любыми законными способами.
            p Если не указано иное, содержание Сайта, иные объекты интеллектуальной собственности, опубликованные на Сайте, могут воспроизводиться или распространяться в неизмененной форме исключительно для некоммерческого использования. Для этих целей Пользователю предоставляется ограниченное, не подлежащее передаче, неисключительное и отзывное разрешение на доступ и право личного пользования (не для извлечения прибыли) данным сайтом и содержанием сайта в качестве информационного ресурса. Пользователь может с помощью электронных средств копировать и сделать твёрдую копию содержания данного сайта для этих целей, при условии соблюдения всех авторских прав и прав собственности (когда они существуют) в отношении содержания данного сайта.
            p Упоминания об авторских и других интеллектуальных правах должны сохраняться во всех случаях воспроизведения. Каждое воспроизведение должно сопровождаться ссылкой (а в случае Интернет — активной гиперссылкой) на Сайт, как на источник Информации. Текст ссылки (гиперссылки) должен быть хорошо читаем и содержать источник информации, наименование правообладателя, дату (если имеется). При размещении гиперссылки на данный сайт запрещается изменять стандартный вид окна программы просмотра (браузера) или иным способом ограничивать либо изменять отображение содержания данного сайта; указывать недостоверную информацию, связанную с гиперссылкой на данный сайт; размещать на интернет-страницах, содержащих гиперссылки на данный сайт, информационные или иные материалы, не соответствующие целям и принципам функционирования данного сайта. За исключением вышеуказанного, все остальные действия будут истолкованы как нарушение авторских прав.
            p Любое другое использование содержания сайта, включая воспроизведение в целях, отличных от перечисленных выше, модификацию, распространение, передачу, загрузку информации на сайте, переиздание или воссоздание (без предварительного письменного согласия правообладателя) запрещается, за исключением тех случаев, когда данный запрет не противоречит действующему законодательству и договорным отношениям с правообладателем.
            p Пользователь не должен использовать данный сайт или услуги таким способом, при котором нарушаются данные условия (или их общая направленность) или любое действующее законодательство и положения (включая законы и положения, касающиеся использования общественных коммуникационных сетей) или в результате чего будет причинён или возможно нанесение ущерба, создание препятствий или нарушение работы сайта или оказание предоставляемых услуг. Пользователь не имеет право предпринимать попытки к получению несанкционированного доступа к любому из разделов данного сайта или собирать или предпринимать попытки к сбору личных сведений, имеющих отношение к другим пользователям данного сайта.
            p Любое несанкционированное использование или копирование информации сайта, или использование информации Сайта, противоречащее данным условиям (или их общей направленности), может привести к нарушению прав собственности на товарные знаки, авторские права или другие права собственности, и повлечь за собой административную и уголовную ответственность. Пользователь не имеет право использовать любую информацию сайта (или любую другую информацию, доступ к которой открывается с данного сайта) таким образом, в результате которого будут нарушены права на обладание товарными знаками, авторскими правами и другими правами собственности.
            p По мере необходимости мы можем изменить Правила использования информации путем размещения обновленной версии на сайте. Мы призываем Вас чаще посещать наши ресурсы, чтобы быть в курсе изменений.
            p Если у Вас возникли вопросы, комментарии или замечания правил использования информации, Вы можете связаться с нами по указанным на сайте контактам. Мы будем рады оперативно решить все вопросы.

    include includes/foot.pug